*{
	margin: 0 auto; /*centraliza o conteudo da pagina*/
	font-family: Calibri;
}


body{
	background-color: #48bc94;
	text-align: center;
}

#header{
	margin-top: 10px;
	width: 100%;
	height: 100px;
	text-align:center;
}

