#bodyEmotion ul {
	list-style:none;
	text-align:left;
}

#bodyEmotion li {
	float:left;
}

#graphic{
	margin-top:30px;
	width:90%;
	height:300px;
	background-color:#ffffff;
}

#show-Genero{
	float:left;
	margin-right: 10%;
}
